
<nz-page-header>
  <nz-page-header-title>
    Users
  </nz-page-header-title>
</nz-page-header>
<nz-list nzItemLayout="vertical">
  <nz-list-item class="user-list-item" *ngFor="let user of users$ | async">
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        <a href="user/{{ user.username }}">{{ user.username }}</a>
      </nz-list-item-meta-title>

      <nz-list-item-meta-description>
        <div class="card-field">
          <div class="field-label">Roles</div>
          <div *ngFor="let role of user.roles">
            <nz-tag nzColor="green" [class]="'tag ' + role.name.toLowerCase()">{{role.name}}</nz-tag>
          </div>
        </div>
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    <nz-list-item-extra>
      <button nz-button (click)="openDepartmentCreationModal(user)">
        Change Role
      </button>
    </nz-list-item-extra>
  </nz-list-item>
</nz-list>

<nz-modal [(nzVisible)]="roleToUserModalIsVisible" [nzFooter]="modalFooter" (nzOnCancel)="roleToUserModalIsVisible = false" nzTitle="Change Roles">
  <ng-container *nzModalContent>
    <form [formGroup]="changeUserRolesForm" nz-form>
      <nz-form-item>
        <nz-transfer
          [nzDataSource]="list"
          [nzTitles]="['Available', 'Selected']"
          (nzChange)="change($event)"
        ></nz-transfer>
      </nz-form-item>
    </form>
  </ng-container>
  <ng-template #modalFooter>
    <button (click)="addRoleToUser()" nz-button nzType="primary">Change</button>
  </ng-template>
</nz-modal>
