.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;

  .grid-card {
    .department-card {
      width: 100%;
    }
  }

  .card-field {
    display: flex;

    .field-label {
      width: 10em;
    }
  }
}

